.card {
  background: #fff;
  border-radius: 2px;
  height: 600px;
  margin: 1rem;
  position: relative;
  width: 100%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card-info {
  padding: 5px 10px;
  background-color: var(--secondary-color);
  float: left;
  position: absolute;
  bottom: 30px;
}

.card-info p,
.card-info h1 {
  color: var(--blackish);
}

.img-container {
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: #6caddc;
}
